src/main/mule/git-actions-cici-pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5c9987cc-8862-4984-9c30-613959522cc5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-actions-cici-pipelineFlow" doc:id="54d65061-def1-426e-be4c-9947973631b2" >
		<http:listener doc:name="Listener" doc:id="76feb7b8-7a73-41e6-a480-c3dfa87896b8" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["hello world Soniya"]' doc:name="Set Payload" doc:id="d7819eb6-5a02-403b-9cc6-b3bfcc9279ca" />
	</flow>
</mule>
